{% extends "padre.html" %}

{% block title %} Buscar Perfume {% endblock title %}

{% block content %}

<h2> Detrás del creador de FragranceWorld </h2>

<p> Mi nombre es Juan Ignacio Denti. Tengo 26 años, y mis dos pasiones son la programación y la perfumería. </p>
<p> Cuando recibí la tarea de hacer una página web, automáticamente supe de que sería mi página. </p>
<p> También está dedicada a la gente que le gusta la perfumería como a mi, en donde pueden compartir sus perfumes favoritos. </p>
<p> Espero que disfruten usarla tanto como yo disfruté hacerla. </p>

{% endblock content %}