{% extends "padre.html" %}

{% block title %} Buscar Perfume {% endblock title %}

{% block content %}

<h2> Buscar perfume </h2>

<form method = "GET" action= "{% url 'buscar-perfumes' %} ">
    <input type = "text" name = "nombre" placeholder = "Buscar perfume.."
    value = "{{ nombre }}">
    <button type = "submit"> Buscar </button>

</form>

<ul>
    {% for perfume in perfumes %}
    <li>{{perfume.nombre}}</li>
    {% empty %}
    <li> No hay perfumes disponibles.</li>
    {% endfor %}

</ul>

{% endblock content %}